  <div class="row">
    <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
      <div class="page-header">
        <h1>
          Shopping Lists
          <a href="/lists/new" class="btn btn-success"><i class="fa fa-plus"></i></a>
        </h1>
      </div>
    </div>
  </div>

  <!-- Simple table layout example -->
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
      <ul>
        <% @lists.each do |list| %>
          <% if current_user.id == list.user_id %>
            <li><a href="/lists/<%= list.id %>"><%= list.name %></a></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>

  <!-- End simple table layout example -->
