<!-- Validation failure messages -->

<% if @list.errors.any? %>
<% @list.errors.full_messages.each do |message| %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= message %>
</div>
<% end %>
<% end %>

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="page-header">
      <h1>Create Your Shopping List</h1>
    </div>
  </div>
</div>

<form action="/create_list">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name">
          Name
        </label>
        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @list.name %>">
      </div>

    </div>
  </div>

  <!-- Label and input for user_id -->
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
      <div class="form-group">
        <input type="hidden" id="user_id" name="user_id" class="form-control" value="<%= current_user.id %>">
      </div>
    </div>
  </div>

  <div>&nbsp;</div>

  <div class="row">
    <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
      <div class="form-group">
        <input type="submit" value="Create List" class="btn btn-success">
        or
        <a href="/lists">Cancel</a>
      </div>
    </form>
  </div>
</div>

<!-- End responsive panel example -->
